<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Register | Node</title>

    </head>
    <body>
        <div class="login-form">
            <h3>Register page</h3>
            <form action="/register" method="POST">
                <div class="input-group">
                    <label for="username">Username:</label>
                    <input type="test" name="username"/>
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" name="email"/>
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password"/>
                </div>
                <button>Register</button>
            </form>
            <a href='/login'>Login</a>
        </div>
    </body>
</html>